<div class="carousel-container">

  <!-- LEFT -->
  <div
    #leftSlot
    class="self-end px-2 mx-2"
  >
    @if (leftImage()) {
      <img
        [src]="leftImage()"
        alt=""
        class="carousel-image side-image"
      />
    }
  </div>

  <!-- CENTER -->
  <div
    #centerSlot
    class="self-center"
  >
    @if (centerImage()) {
      <img
        [src]="centerImage()"
        alt=""
        class="carousel-image center-image"
      />
    }
  </div>

  <!-- RIGHT -->
  <div
    #rightSlot
    class="self-start"
  >
    @if (rightImage()) {
      <img
        [src]="rightImage()"
        alt=""
        class="carousel-image side-image"
      />
    }
  </div>

  <!-- CONTROLS -->

  <button
    type="button"
    class="carousel-button carousel-button-left"
    aria-label="Previous image"
    [disabled]="isAnimating()"
    (click)="previous()"
  >
    ←
  </button>

  <button
    type="button"
    class="carousel-button carousel-button-right"
    aria-label="Next image"
    [disabled]="isAnimating()"
    (click)="next()"
  >
    →
  </button>

</div>
